batchgenerators==0.25.1
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
contourpy==1.1.1
cssselect2==0.7.0
cycler==0.12.1
-e git+https://github.com/lchdl/DeepWMH@098957f122ef1d5396529dda64ace0f649d7aec6#egg=deepwmh
dicom2nifti==2.6.0
et-xmlfile==2.0.0
filelock==3.16.1
fonttools==4.56.0
fsspec==2025.3.0
future==1.0.0
gdown==5.2.0
idna==3.10
imageio==2.35.1
importlib-resources==6.4.5
jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.7
lazy-loader==0.4
linecache2==1.0.0
lxml==5.3.1
MarkupSafe==2.1.5
matplotlib==3.4.2
MedPy==0.5.2
mpmath==1.3.0
networkx==3.1
nibabel==3.2.1
-e git+https://github.com/lchdl/nnUNet_for_DeepWMH@3509d4e02f68919925a5403f5586fcf6e6a19ea5#egg=nnunet
numpy==1.24.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
openpyxl==3.0.9
packaging==24.2
pandas==2.0.3
patsy==1.0.1
pillow==10.4.0
psutil==5.8.0
pydicom==2.4.0
pyparsing==3.1.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-gdcm==3.0.24.1
pytz==2025.2
PyWavelets==1.4.1
reportlab==3.6.13
requests==2.32.3
scikit-image==0.18.1
scikit-learn==1.3.2
scipy==1.10.0
SimpleITK==2.4.1
six==1.17.0
soupsieve==2.6
statsmodels==0.13.5
svglib==1.2.1
sympy==1.13.3
threadpoolctl==3.5.0
tifffile==2023.7.10
tinycss2==1.4.0
torch==2.4.0+cu118
torchaudio==2.4.0+cu118
torchvision==0.17.0+cu118
tqdm==4.67.1
traceback2==1.4.0
triton==3.0.0
typing-extensions==4.13.0
tzdata==2025.2
unittest2==1.1.0
urllib3==2.2.3
webencodings==0.5.1
XlsxWriter==1.4.3
zipp==3.20.2
